---
import Header from '../components/Header';
import Hero from '../components/Hero.astro';
import Filters from '../components/Filters';
import ProductGrid from '../components/ProductGrid';
import ProductModalWrapper from '../components/ProductModalWrapper';
import CartDrawer from '../components/CartDrawer';
import Footer from '../components/Footer.astro';
import GlobalLoader from '../components/GlobalLoader';
import '../styles/global.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Control2Dance | The Vault Lab</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	<body class="bg-[#020308] text-white selection:bg-[#ff4d7d]">
        <GlobalLoader client:only="react" />
        <Header client:load />
        <Hero />
        
        <section class="max-w-screen-2xl mx-auto px-8 pb-32">
            <Filters client:visible />
            <ProductGrid client:visible />
        </section>

        <ProductModalWrapper client:load />
        <CartDrawer client:load />
        <Footer />
	</body>
</html>
